.logo {
  height: 163px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 515px;
}
.overlap-group-1 {
  height: 1236px;
  margin-left: -62px;
  position: relative;
  width: 2210px;
}
.place {
  color: var(--black);
  font-family: var(--font-family-calibri-light);
  font-size: var(--font-size-l);
  font-weight: 300;
  left: 854px;
  letter-spacing: 0;
  line-height: 88px;
  position: absolute;
  top: 214px;
  white-space: nowrap;
}
.polygon-1 {
  height: 44px;
  left: 1419px;
  object-fit: cover;
  position: absolute;
  top: 527px;
  width: 63px;
}
.rectangle-1 {
  background-color: #ececf5;
  height: 97px;
  left: 512px;
  position: absolute;
  top: 500px;
  width: 1014px;
}
.rectangle-2-1 {
  background-color: var(--white);
  height: 73px;
  left: 1402px;
  position: absolute;
  top: 511px;
  width: 99px;
}
.rpixxxxxx {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  left: 537px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 521px;
  white-space: nowrap;
}
.text-2 {
  color: var(--black);
  font-family: var(--font-family-calibri-light);
  font-size: var(--font-size-m);
  font-weight: 300;
  left: 602px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 358px;
  white-space: nowrap;
}
.welcome-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}
.x1 {
  left: 1022px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 438px;
  white-space: nowrap;
}
.x2vi-design-ribbon10 {
  border-radius: 451px;
  height: 1022px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 2210px;
}
